* 
{
    margin:0;
    padding:0;
}

nav{
    background-color: black;
    color:white;
    padding:20px;
}
li,h1,ul{
    display:inline;
}
ul{
    margin-left:60%;
}
li{
    color:gray;
    cursor:pointer; 
}
li:hover{
    color:white;
}
input
{
    width:60%;
    padding:15px;
}
.searchbar{
    padding:50px;
    text-align:center;
}
.box{
    display:inline-block;
    width:220px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
.about{
    text-align:center;
    margin-top:10px;
    padding:20px;
}
.contact{
    background-color: black;
    color:white;
    padding:20px;
    text-align:center;
}